*{
    margin: 0;
    padding: 0;
}
:root{

}
.cabecalho{
    background-color: rgb(128, 75, 29);
    padding: 50px;
}
.corpo{
    background-color: rgb(51, 97, 128);
}
.footer{
    background-color: rgb(37, 46, 46);
}
.boton{
    position: fixed;
    top: 20px;
    left: 0px;
    padding: 10px 20px;
    background-color: rgb(4, 4, 43);
    color: rgb(2, 102, 47);
    text-decoration: none;
    border-radius: 5px;
}
.boton:hover{
    background: linear-gradient(to right,#680909,#e3f058,#054e16);
}
.boton:active{
    font-size: 20px;
}